<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify OTP</title>
    <link rel="icon" href="assets/favicon.png" />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <h2>Verify Profile</h2>
        <p class="subtitle">
          Please enter the OTP sent to your email and update your profile.
        </p>

        <!-- Display message if provided -->
        <% if (message) { %>
        <div id="message" class="error-message"><%= message %></div>
        <% } %>

        <!-- Form for verifying OTP and setting new password -->
        <form action="/verify-profile" method="POST">
          <!-- Hidden input to pass email -->
          <input type="hidden" name="email" value="<%= email %>" />

          <!-- OTP Input -->
          <label for="otp">Enter OTP</label>
          <input
            type="text"
            id="otp"
            name="otp"
            placeholder="Enter OTP"
            required
          />

         
         

          <!-- Submit Button -->
          <button type="submit" class="login-btn">Set Profile Verified</button>
         
        </form>

        <!-- Link to Login page -->
        <p class="signup-text">
          Remembered your password?
          <a href="/login" class="signup-link">Log In</a>
        </p>
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
