<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="contact" id="contact">
        <div class="contact-top"> 
       
                <h2>Form  </h2>

    
         </div>
    
        
        <div class="contact-form">
            <form action="/register" method="POST">
                <input type="hidden" name="access_key" value="3061539e-2c48-4406-a007-39e5c3626c34">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="password" >
                <button type="submit">Submit <i class="fas fa-paper-plane"></i></button>
            </form>
        </div>
     
</section>  
    
</body>
</html>